In [1]:
import pandas as pd

In [2]:
pd.DataFrame({
    "A": [1, 2, 3],
    "B": [10, 20, 30]
})

   A   B
0  1  10
1  2  20
2  3  30

In [3]:
{
    "A": [1, 2, 3],
    "B": [10, 20, 30]
}

{'A': [1, 2, 3], 'B': [10, 20, 30]}

In [4]:
df = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [10, 20, 30]
})

In [5]:
df

   A   B
0  1  10
1  2  20
2  3  30

In [6]:
df

   A   B
0  1  10
1  2  20
2  3  30