In [1]:
import pandas as pd
df = pd.read_csv("./survey_results_public.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

In [2]:
pd.isna(df)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,False,False,False,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,True,True,True,False,False,...,True,True,True,False,True,True,False,True,False,False
2,False,False,False,True,False,True,True,True,False,True,...,False,False,True,True,True,True,False,True,False,True
3,False,False,False,False,False,True,True,True,False,False,...,True,True,False,False,True,True,False,False,False,False
4,False,False,False,False,False,True,True,True,False,True,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,False,True,False,True,False,True,True,True,False,True,...,True,True,True,False,True,True,True,True,False,False
64457,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64458,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64459,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,False,True,True,True,True,True
64460,False,True,False,True,True,True,True,True,False,True,...,True,True,True,False,False,False,True,True,True,True

In [3]:
import numpy as np
np.amax(pd.isna(df), axis=1)

0        True
1        True
2        True
3        True
4        True
         ...
64456    True
64457    True
64458    True
64459    True
64460    True
Length: 64461, dtype: bool

In [4]:
np.amax(pd.isna(df), axis=1).sum()

60248

In [5]:
df.loc[np.amax(pd.isna(df), axis=1), :].head(n=3)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN

In [6]:
df.dropna(how="any").info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4213 entries, 9 to 63517
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    4213 non-null   int64
 1   MainBranch                    4213 non-null   object
 2   Hobbyist                      4213 non-null   object
 3   Age                           4213 non-null   float64
 4   Age1stCode                    4213 non-null   object
 5   CompFreq                      4213 non-null   object
 6   CompTotal                     4213 non-null   float64
 7   ConvertedComp                 4213 non-null   float64
 8   Country                       4213 non-null   object
 9   CurrencyDesc                  4213 non-null   object
 10  CurrencySymbol                4213 non-null   object
 11  DatabaseDesireNextYear        4213 non-null   object
 12  DatabaseWorkedWith            4213 non-null   object
 13  DevType                       4213 non-null   object
 14  EdLevel                       4213 non-null   object
 15  Employment                    4213 non-null   object
 16  Ethnicity                     4213 non-null   object
 17  Gender                        4213 non-null   object
 18  JobFactors                    4213 non-null   object
 19  JobSat                        4213 non-null   object
 20  JobSeek                       4213 non-null   object
 21  LanguageDesireNextYear        4213 non-null   object
 22  LanguageWorkedWith            4213 non-null   object
 23  MiscTechDesireNextYear        4213 non-null   object
 24  MiscTechWorkedWith            4213 non-null   object
 25  NEWCollabToolsDesireNextYear  4213 non-null   object
 26  NEWCollabToolsWorkedWith      4213 non-null   object
 27  NEWDevOps                     4213 non-null   object
 28  NEWDevOpsImpt                 4213 non-null   object
 29  NEWEdImpt                     4213 non-null   object
 30  NEWJobHunt                    4213 non-null   object
 31  NEWJobHuntResearch            4213 non-null   object
 32  NEWLearn                      4213 non-null   object
 33  NEWOffTopic                   4213 non-null   object
 34  NEWOnboardGood                4213 non-null   object
 35  NEWOtherComms                 4213 non-null   object
 36  NEWOvertime                   4213 non-null   object
 37  NEWPurchaseResearch           4213 non-null   object
 38  NEWPurpleLink                 4213 non-null   object
 39  NEWSOSites                    4213 non-null   object
 40  NEWStuck                      4213 non-null   object
 41  OpSys                         4213 non-null   object
 42  OrgSize                       4213 non-null   object
 43  PlatformDesireNextYear        4213 non-null   object
 44  PlatformWorkedWith            4213 non-null   object
 45  PurchaseWhat                  4213 non-null   object
 46  Sexuality                     4213 non-null   object
 47  SOAccount                     4213 non-null   object
 48  SOComm                        4213 non-null   object
 49  SOPartFreq                    4213 non-null   object
 50  SOVisitFreq                   4213 non-null   object
 51  SurveyEase                    4213 non-null   object
 52  SurveyLength                  4213 non-null   object
 53  Trans                         4213 non-null   object
 54  UndergradMajor                4213 non-null   object
 55  WebframeDesireNextYear        4213 non-null   object
 56  WebframeWorkedWith            4213 non-null   object
 57  WelcomeChange                 4213 non-null   object
 58  WorkWeekHrs                   4213 non-null   float64
 59  YearsCode                     4213 non-null   object
 60  YearsCodePro                  4213 non-null   object
dtypes: float64(4), int64(1), object(56)
memory usage: 2.0+ MB

In [7]:
df["Age"]

0         NaN
1         NaN
2         NaN
3        25.0
4        31.0
         ...
64456     NaN
64457     NaN
64458     NaN
64459     NaN
64460     NaN
Name: Age, Length: 64461, dtype: float64

In [8]:
df["Age"].fillna(value=20)

0        20.0
1        20.0
2        20.0
3        25.0
4        31.0
         ...
64456    20.0
64457    20.0
64458    20.0
64459    20.0
64460    20.0
Name: Age, Length: 64461, dtype: float64

In [9]:
df["Age"].mean()

30.83411081283281

In [10]:
df["Age"] = df["Age"].fillna(value=df["Age"].mean())

In [11]:
df["Age"]

0        30.834111
1        30.834111
2        30.834111
3        25.000000
4        31.000000
           ...
64456    30.834111
64457    30.834111
64458    30.834111
64459    30.834111
64460    30.834111
Name: Age, Length: 64461, dtype: float64